<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/image3.jpg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="motto text-center">
          <h1>Título 4</h1>
          <h3>Subtitulo 4</h3>
          <br />
          <a class="btn btn-outline-neutral btn-round"><i
              class="fa fa-play"></i>Botão 4.1</a>
          <button type="button" class="btn btn-outline-neutral btn-round">Botão 4.2</button>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
            <h2 class="title">Sobre nós</h2>
            <h5 class="description">Este parágrafo será definido.</h5>
            <br>
            <a href="#paper-kit" class="btn btn-success btn-round">A ser definido</a>
          </div>
        </div>
        <br /><br />
        <div class="row">
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-success">
                <i class="nc-icon nc-album-2"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Missão</h4>
                <p class="description">Spend your time generating new ideas. You don't have to think of
                  implementing.</p>
                <a href="#pkp" class="btn btn-link btn-success">Ler mais</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-success">
                <i class="nc-icon nc-bulb-63"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Visão</h4>
                <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                <a href="#pkp" class="btn btn-link btn-success">Ler mais</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-success">
                <i class="nc-icon nc-chart-bar-32"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Valores</h4>
                <p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
                <a href="#pkp" class="btn btn-link btn-success">Ler mais</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-success">
                <i class="nc-icon nc-sun-fog-29"></i>
              </div>
              <div class="description">
                <h4 class="info-title">Compreensão ambiental</h4>
                <p>Find unique and handmade delightful designs related items directly from our sellers.
                </p>
                <a href="#pkp" class="btn btn-link btn-success">Ler mais</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="section section-dark text-center">
        <div class="container">
          <h2 class="title">Feedbacks</h2>
          <div class="row">
            <div class="col-md-4">
              <div class="card card-profile card-plain">
                <div class="card-avatar">
                  <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
                </div>
                <div class="card-block">
                  <a href="#paper-kit">
                    <div class="author">
                      <h4 class="card-title">Joaquin Pinto</h4>
                      <h6 class="card-category">M2 materiais</h6>
                    </div>
                  </a>
                  <p class="card-description text-center">
                    "Empresa séria e de qualidade, obtive muito ao utilizar os produtos da Telmax".
                  </p>
                </div>
                <div class="card-footer text-center">
                  <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                  <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                  <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card card-profile card-plain">
                <div class="card-avatar">
                  <a href="#avatar"><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
                </div>
                <div class="card-block">
                  <a href="#paper-kit">
                    <div class="author">
                      <h4 class="card-title">Maria Joaquina</h4>
                      <h6 class="card-category">IO Tech</h6>
                    </div>
                  </a>
                  <p class="card-description text-center">
                    "Empresa séria e de qualidade, obtive muito ao utilizar os produtos da Telmax".
                  </p>
                </div>
                <div class="card-footer text-center">
                  <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                  <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                  <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card card-profile card-plain">
                <div class="card-avatar">
                  <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                </div>
                <div class="card-block">
                  <a href="#paper-kit">
                    <div class="author">
                      <h4 class="card-title">João Coelho</h4>
                      <h6 class="card-category">LOL ltda</h6>
                    </div>
                  </a>
                  <p class="card-description text-center">
                    "Empresa séria e de qualidade, obtive muito ao utilizar os produtos da Telmax".
                  </p>
                </div>
                <div class="card-footer text-center">
                  <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                  <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                  <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- <div class="section section-dark section-nucleo-icons">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <h2 class="title">Soluções para todos os setores</h2><br />
              <p class="description">
                Temos tecnologias para abrangir todos os setores. Além de técnicos qualificados
                e consultores para ajudá-lo na escolha da melhor solução para seu projeto!
                Venha e confira!
              </p><br />
              <a [routerLink]="['/orcamento']" class="btn btn-success btn-round">Solicitar orçamento</a>
              <a [routerLink]="['/contato']" class="btn btn-outline-success btn-round" target="_blank">Contato</a>
            </div>

            <div class="col-lg-6 col-md-12">
              <div class="icons-container">
                <i class="nc-icon nc-time-alarm"></i>
                <i class="nc-icon nc-atom"></i>
                <i class="nc-icon nc-camera-compact"></i>
                <i class="nc-icon nc-watch-time"></i>
                <i class="nc-icon nc-key-25"></i>
                <i class="nc-icon nc-diamond"></i>
                <i class="nc-icon nc-user-run"></i>
                <i class="nc-icon nc-layout-11"></i>
                <i class="nc-icon nc-badge"></i>
                <i class="nc-icon nc-bulb-63"></i>
                <i class="nc-icon nc-favourite-28"></i>
                <i class="nc-icon nc-planet"></i>
                <i class="nc-icon nc-tie-bow"></i>
                <i class="nc-icon nc-zoom-split"></i>
                <i class="nc-icon nc-cloud-download-93"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section section-dark">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">Confira nossos produtos</h2>
              <p class="description">Disponibilizamos dos mais variados produtos no mercado, para todas as categorias de
                negócios.
                A fim de obter melhores índices de resultados, trabalhamos em parceria do cliente, sempre
                disponibilizando
                os mais atuais equipamentos de segurança e telecomunicações.
              </p>
              <button class="btn btn-light btn-block btn-success">Conferir</button>

            </div>
          </div>
        </div>
      </div>
      <div class="section section-image section-login" style="background-image: url('assets/img/image2.jpg');">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
              <div class="card card-register">
                <h3 class="title">Bem vindo</h3>
                <div class="social-line text-center">
                  <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                    <i class="fa fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                    <i class="fa fa-instagram"></i>
                  </a>
                  <a href="#pablo" class="btn btn-neutral btn-linkedin btn-just-icon">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </div>
                <form class="register-form">
                  <label>Email</label>
                  <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="nc-icon nc-email-85"></i>
                      </span>
                    </div>

                    <input type="text" class="form-control" placeholder="Email" (focus)="focus=true"
                      (blur)="focus=false">
                  </div>

                  <label>Senha</label>
                  <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="nc-icon nc-key-25"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Senha" (focus)="focus1=true"
                      (blur)="focus1=false">
                  </div>
                  <button class="btn btn-light btn-block btn-round">Registrar</button>
                </form>
                <div class="forgot">
                  <a href="#" class="btn btn-link btn-debug">Esqueceu sua senha?</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="section">
        <div class="container text-center">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">Gostou do que viu?</h2>
              <p class="description">Gostamos de manter contato com nossos clientes, e para isso disponibilizamos
                de um formulário para você nos avaliar e um blog para acompanhar nossas novidades.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 download-area ml-auto mr-auto">
              <a href="" class="btn btn-warning btn-round">Deixe seu feedback</a>
              <a href="" class="btn btn-danger btn-round">Acompanhe nosso blog</a>
            </div>
          </div>
          <div class="row justify-content-md-center sharing-area text-center">
            <div class="text-center col-md-12 col-lg-8">
              <h3>Obrigado pela visita!</h3>
            </div>
            <div class="text-center col-md-12 col-lg-8">
              <a href="#pablo" class="btn btn-google-bg google-bg twitter-sharrre btn-round" rel="tooltip"
                title="Tweet!">
                <i class="fa fa-instagram"></i> Instagram
              </a>
              <a href="#pablo" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!">
                <i class="fa fa-facebook-square"></i> Facebook
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
