<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/image3.jpg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="motto text-center">
          <h1>Título 3</h1>
          <h3>Subtitulo 3</h3>
          <br />
          <a class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Botão 3.1</a>
          <button type="button" class="btn btn-outline-neutral btn-round">Botão 3.2</button>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    
  </div>
