<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/back.png')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="motto text-center">
                    <h1>Estimativa Selic</h1>
                    <h3>A ANBIMA está iniciando um novo projeto em que pretende disponibilizar ao mercado uma API para
                        consultar os cálculos de estimativa Selic. Para o público interno o projeto prevê a consulta
                        dessas mesmas informações em sistema. </h3>
                    <br />
                    <a class="btn btn-outline-neutral btn-round" href="#main"><i class="fa fa-play"></i>Começar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <app-taxa-mensal></app-taxa-mensal>
    </div>