<div class="wrapper">
    <div class="main">
        <div class="section section-dark section-nucleo-icons">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <h2 class="title">O Teste</h2><br />
                        <p class="description">
                            Esse é o nosso desafio para você! O objetivo é avaliar o seu conhecimento e habilidades nos
                            seguintes quesitos:

                            - Estilização (stylesheet/css)
                            - Javascript (Angular)
                            - Testes
                        </p><br />
                    </div>
                    <br />
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <app-side (messageEvent)="receiveMessage($event)"></app-side>
                    </div>
                    <br />
                    <div class="col-lg-6 col-md-12">
                        <app-detalhes [clientDetail]="clientDetail"></app-detalhes>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>